<div>
  <h1>First look at Angular 17</h1>

  <app-user />

  <article>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, adipisci voluptatum est ipsa praesentium earum quam repellendus magni aliquam maiores unde fugit voluptates enim id minima ex at veritatis eligendi!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, adipisci voluptatum est ipsa praesentium earum quam repellendus magni aliquam maiores unde fugit voluptates enim id minima ex at veritatis eligendi!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, adipisci voluptatum est ipsa praesentium earum quam repellendus magni aliquam maiores unde fugit voluptates enim id minima ex at veritatis eligendi!
    </p>
  </article>

  @defer {
    <app-comments></app-comments>
  } @placeholder {
    <p>Mostrando comentarios...</p>
  }

</div>

<router-outlet></router-outlet>
